.list-container {
    display: flex;
    flex-wrap: wrap;
}

.list-container>li {
    display: block;
    width: 25%;
    list-style: none;
    padding: 20px;
}

.list-container-in {
    display: flex;
    flex-direction: column;
}

.list {
    list-style: none;
}

.list-description>ul {
    padding: 0;
    margin: 0;
}

.list-description>ul>li {
    list-style: none;
}

.listeimg {
    width: 160px;
}